*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: #333333;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    color: cornflowerblue;
    font-size: 60px;
    margin: 20px 0px;
}

.flex {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 100px;
}

/* Grid section */  
#grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: #fefefe;
}

/* Controls section */
.controls {
    gap: 20px;
    flex-direction: column;
    height: 500px;
    width: 250px;
    border: 1px solid cornflowerblue;
}

.btn {
    background: none;
    font-size: 20px;
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
}

#new-size {
    color: cornflowerblue;
    font-size: 18px;
    text-align: center;
    width: 40px;
    height: 30px;
    border: 2px solid cornflowerblue;
    background-color: #333333;
    border-radius: 10px;
    margin-right: 5px;
}

input:focus {
    outline: none;
}
